/***************************************************
GLOBAL
***************************************************/
* {
    box-sizing: border-box;
    --color-primary: #FFF34D;
    --color-primary-light: #FFF566;
    --color-secondary: #4412B3;
    --color-secondary-light: #844DFF;
    --color-link : #B3A924;
    --color-text:white;
    --color-error: #e67575;
    --color-question: rgb(36, 143, 36);


}

img {
    max-width: 100%;
    vertical-align: middle;
    height: auto;
}

iframe {
    max-width: 100%;
    display: block;
}

figure {
    margin: 0;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

body {
    word-wrap: break-word;
    hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    font-size: 18px;
    color: var(--color-text);
}

a {
    text-decoration: none;
}

ul,
li {
    margin: 0;
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}


main{
    background-color: var(--color-secondary-light);
    width: 60%;
    margin: 20px auto;
    border-radius: 15px;
    position: relative;
}

h1{
    text-align: center;
    padding: 15px;

}

h3{
    text-align: center;
    padding: 3px 8px;
}

h4{
    text-align: center;
    padding: 8px;
}

h3 span{
    font-size: inherit;
}

.choix{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.ia, .choixjoueur{
    width: 30%;
}

.changeName{
    text-align: center;
    display: none;
}

.changeName input{
    background-color: var(--color-secondary);
    color: var(--color-text);
    border: none;
    padding: 5px;
    margin: 5px 3px;
    width: 130px;
    outline: 1px var(--color-primary) solid;
}

.changeName input::placeholder{
    color: var(--color-primary);
    opacity: 0.8;
    border: none;
    padding: 5px;
    margin: 5px 3px;
}


.button{
    margin: 10px;
    width: 60px;
    height: 60px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 3px;

}

.button:hover{
    transform: scale3d(1.1,1.1,1.1);
    transition: transform 0.5s;

}

.feuille{
    background-image: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="52" height="52" preserveAspectRatio="xMidYMid meet" viewBox="0 0 64 64"%3E%3Cpath d="M56.5 31.3c0-.5.1-.9.3-1.3c-1.9-1.1-3-2.7-3-4.5c.1-2.8 3.3-5.1 7.4-5.5c1-9.4.8-17 .8-17S24.9 1.7 11.4 14.7l-.7.7c2 1.2 3.3 3.2 3.3 5.5c0 3.7-3.5 6.8-7.8 6.8c-1.3 0-2.5-.3-3.6-.8c-3.9 11.7 12 15.1 15.5 18.5c4.5 4.3 9 28.4 31.7 6.5c4.1-4 6.9-10.2 8.7-16.8c-1.2-1-2-2.3-2-3.8" fill="%23ffd93b"%2F%3E%3Cpath fill="%23db9523" d="M24.5 40.9l4.6-4.6l19 11.7l-18.3-12.5l7.6-7.6l17 7.5l-16.3-8.3l7.1-7.2l12.9-.6l-11.9-.4L62 3L45.5 18.2l-.4-11.5l-.6 12.5l-7.4 6.9l-8.6-15.8l7.8 16.5l-8 7.3l-12.9-17.6l12.2 18.3l-4.8 4.4l-12.9-7.6l12.2 8.3L9.6 51.4l2.3 2.2l11.9-12l8.6 11.7z"%2F%3E%3C%2Fsvg%3E');
    
}

.ciseaux{
    background-image: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="52" height="52" preserveAspectRatio="xMidYMid meet" viewBox="0 0 64 64"%3E%3Cpath d="M34.23 14.962L7.96 56.627s-3.02 4.364 3.431 7.26l34.952-48.02l-12.12-.904" fill="%23919396"%2F%3E%3Cpath d="M37.05 16.1S7.357 57.934 8.89 62.4c0 0-2.95-2.466-.918-5.688l26.27-41.664l2.816 1.051" fill="%23888"%2F%3E%3Cpath d="M33.575 28.932c-.108 1.2-1.263 2.09-2.579 1.992c-1.313-.099-2.294-1.146-2.19-2.344c.106-1.201 1.263-2.091 2.58-1.993c1.316.094 2.297 1.146 2.189 2.345" fill="%23fff"%2F%3E%3Cpath d="M31.19 31.07c-.067 0-.136-.004-.207-.012c-.711-.053-1.361-.375-1.794-.886a2.176 2.176 0 0 1-.524-1.609c.114-1.256 1.329-2.222 2.728-2.117c.707.051 1.361.374 1.794.886c.39.457.575 1.032.524 1.611c-.11 1.19-1.218 2.127-2.521 2.127m-.004-4.356c-1.164 0-2.147.825-2.244 1.875c-.046.504.116 1 .458 1.402c.387.457.968.744 1.603.792c1.245.095 2.33-.76 2.428-1.863a1.91 1.91 0 0 0-.457-1.406a2.32 2.32 0 0 0-1.601-.792c-.064-.004-.124-.008-.187-.008" fill="%23000"%2F%3E%3Cpath d="M28.07 15.04l26.27 41.664s3.02 4.365-3.435 7.256L15.958 15.94l12.11-.902" fill="%23e6e7e8"%2F%3E%3Cpath d="M28.72 29.01c.106 1.199 1.262 2.092 2.578 1.991c1.317-.097 2.298-1.148 2.19-2.346c-.108-1.198-1.262-2.09-2.578-1.989c-1.32.095-2.297 1.146-2.19 2.344" fill="%23919396"%2F%3E%3Cpath d="M25.25 16.1s29.694 41.834 28.17 46.3c0 0 2.948-2.466.918-5.688l-26.27-41.665l-2.816 1.052" fill="%23c8c8c8"%2F%3E%3Cg fill="%23be202e"%3E%3Cpath d="M13.05.214C5-2.337-9.95 18.72 19.255 20.493l8.808-5.448S19.802 2.357 13.053.214m-.252 15.528c-3.801.284-7.13-2.288-7.437-5.747c-.315-3.453 2.51-6.486 6.309-6.767c3.799-.284 7.128 2.289 7.439 5.745c.311 3.456-2.517 6.485-6.311 6.769"%2F%3E%3Cpath d="M34.22 15.04l8.809 5.448c29.2-1.772 14.256-22.83 6.204-20.279c-6.752 2.143-15.01 14.831-15.01 14.831m8.954-6.072c.308-3.457 3.641-6.03 7.441-5.745c3.794.281 6.622 3.314 6.307 6.767c-.308 3.459-3.636 6.03-7.438 5.748c-3.793-.285-6.621-3.314-6.31-6.77"%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');

}

.pierre{
    background-image: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="52" height="52" preserveAspectRatio="xMidYMid meet" viewBox="0 0 36 36"%3E%3Cpath fill="%2366757F" d="M12 4.157s4-1.075 5-1.075s5 1.075 5 1.075s4 4.298 5 4.298c0 0 2 0 4 2.149s2 6.447 2 6.447s2 4.298 2 6.447s-1 4.298-2 5.373c-1 1.075-5 2.149-5 2.149s-1 2.149-3 3.224c-6 1.075-10 0-10 0l-2-2.149S6 31.02 5 31.02s-4-4.298-4-5.373c0-1.075 0-4.298 1-7.522c2-3.224 3-4.298 3-4.298S4 11.679 5 9.53c2-2.149 6-3.224 6-3.224l1-2.149z"%2F%3E%3Cpath fill="%2399AAB5" d="M12.409 4.49s3.633-1.021 4.574-1.021c.941 0 4.99 1.149 4.99 1.149s3.574 4.022 4.515 4.022c0 0 2.038-.045 3.921 1.979s1.708 5.617 1.708 5.617S34 20.282 34 22.305s-.941 4.047-1.882 5.059c-.941 1.012-4.706 2.023-4.706 2.023s-.941 2.023-2.824 3.035c-5.647 1.012-9.412 0-9.412 0l-1.882-2.023s-6.588-1.012-7.529-1.012S2 25.34 2 24.328c0-1.012 0-4.047.941-7.082C4.824 14.211 5.765 13.2 5.765 13.2s-1.188-1.643-.247-3.667C7.4 7.51 11.399 6.469 11.399 6.469l1.01-1.979z"%2F%3E%3Cpath fill="%23CCD6DD" d="M12.771 5.312s3.398-.892 4.278-.892c.88 0 4.667 1.003 4.667 1.003s3.342 3.511 4.222 3.511c0 0 1.906-.039 3.667 1.727c1.76 1.766 1.598 4.903 1.598 4.903s.275 4.245.988 4.373c1.81.324.167 3.713-.713 4.596s-7.01 1.277-7.01 1.277s.216 2.755-1.545 3.639c-5.281.883-7.565.246-7.565.246l-1.76-1.766s-4.29-4.097-5.17-4.097s-5.393-.319-5.393-1.202s0-3.533.88-6.182c1.76-2.649 2.641-3.533 2.641-3.533s-1.111-1.435-.231-3.201c1.76-1.766 5.5-2.675 5.5-2.675l.946-1.727z"%2F%3E%3Cpath fill="%2399AAB5" d="M6.29 12.597l3.981 1.851l-2.08 1.468l-4.274.532z"%2F%3E%3Cpath fill="%2366757F" d="M1.597 21.981s1.129 3.766 1.426 4.213s4.099.128 4.574.128c.475 0 2.792 1.213 2.792 1.213s-3.089.83-4.158.702c-1.069-.128-3.848-.627-4.099-1.341s-.535-4.915-.535-4.915z"%2F%3E%3Cpath fill="%23E1E8ED" d="M7.3 9.597c.49-.155 3.861-1.596 4.574-1.532c.713.064 3.743 1.787 3.03 2.362s-4.634.128-5.762.128S6.29 9.916 7.3 9.597zm-2.376 7.724c.303-.571 4.337-.766 4.337-.766s5.228 2.107 5.228 2.426s-4.752 2.49-5.228 2.553s-4.575-3.766-4.337-4.213zm11.703 3.894c-.094-.505 2.02-3.575 2.436-3.83c.416-.255 6-1.724 6.95-1.724s3.98 2.234 4.04 2.681c.059.447-2.673 3.511-3.386 3.766c-.713.256-9.862.064-10.04-.893zm5.347-8.427c-.225.537 5.347 1.277 5.941 1.021c.594-.255 1.663-1.979 1.485-2.426c-.178-.447-1.901-1.724-2.792-1.596c-.892.129-4.1 1.725-4.634 3.001zm-4.396-7.851c.498.107 3.802.894 4.218 1.532s-1.96 2.617-2.614 2.681c-.653.064-5.109-2.681-5.584-3s3.088-1.405 3.98-1.213z"%2F%3E%3Cpath fill="%2366757F" d="M13.063 31.364c-.416-.638.238-2.745.594-2.49s1.426 1.021 1.485 1.66c.059.638 1.129 1.851 1.901 2.234s4.99.383 5.703.128c.713-.255 2.376-1.66 2.792-2.49s.896-.891 1.874-1.02s1.922.844.588 1.634c-1.333.79-2.759 2.195-4.422 2.514c-1.663.319-7.069.575-8.02.192c-.951-.383-2.495-2.362-2.495-2.362z"%2F%3E%3Cpath fill="%2399AAB5" d="M20.2 26.754c-.501-.269-.688-2.495-.43-2.68s2.666.185 3.225.277c.559.092 3.956-.185 4.3.185s1.173 1.726 1.462 2.541c.289.816-1.591.693-2.322.508s-5.547-.461-6.235-.831zm-7.613-14.732c.653 0 3.386-.064 3.98 0c.594.064 2.495 1.851 1.604 2.043c-.891.192-3.267.83-3.624.894s-1.663-1.149-2.079-1.468c-.415-.32-.593-1.469.119-1.469zm7.486-1.787c.33-.531 1.604-.702 1.663-.128c.059.575-.297 1.851-1.01 1.787c-.713-.063-1.129-.893-.653-1.659zm-3.446 13.469c.593-.071 1.723-.192 1.723.319s-.713.702-1.545.638c-.831-.063-.713-.893-.178-.957z"%2F%3E%3Cpath fill="%23E1E8ED" d="M14.31 16.619c.519-.446 2.317-.511 2.733-.319c.416.192-.475 1.532-1.01 1.596c-.535.063-2.317-.767-1.723-1.277z"%2F%3E%3Cpath fill="%2366757F" d="M26.191 26.385c.593-.159 2.02-.319 1.96.128c-.059.447-.653 1.277-1.129 1.213s-1.306-1.213-.831-1.341zm-3.861 4.469c.656-.109 1.663-.638 1.604 0c-.059.638-.772 1.468-1.545 1.341c-.772-.128-.831-1.214-.059-1.341z"%2F%3E%3C%2Fsvg%3E');
}

.changePlayerName{
    background-image: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="20" height="20" preserveAspectRatio="xMidYMid meet" viewBox="0 0 1024 1024"%3E%3Cpath d="M199.04 672.64l193.984 112l224-387.968l-193.92-112l-224 388.032zm-23.872 60.16l32.896 148.288l144.896-45.696L175.168 732.8zM455.04 229.248l193.92 112l56.704-98.112l-193.984-112l-56.64 98.112zM104.32 708.8l384-665.024l304.768 175.936L409.152 884.8h.064l-248.448 78.336L104.32 708.8zm384 254.272v-64h448v64h-448z" fill="currentColor"%2F%3E%3C%2Fsvg%3E');
    background-repeat: no-repeat;
    background-position: center center;
    width: 25px;
    height: 25px;
    background-color: transparent;
    border: none;
}

.affiche{
    display: block;
}

.choicePlayer, .choiceIA{
    color:var(--color-primary)
}

.select{
    border: 1px var(--color-primary) solid;
    transform: scale3d(1.2,1.2,1.2);
    transition: transform 0.8s;
}

.noselect{
    transform: scale3d(0.6,0.6,0.6);
    transition: transform 0.8s;
}

#level{
    background-color: var(--color-secondary);
    color: white;
    position: absolute;
    top:3%;
    right: 3%;
}

.messageBox{
    position: absolute;
    margin: auto auto;
    padding: 20px;
    top:0;
    bottom: 0;
    left:0;
    right: 0;
    opacity: 0.8;
    width: 30%;
    height: 250px;
    z-index: 100;
    background-color: var(--color-secondary);
    display: none;
    opacity: 0;
    transition: opacity 0.7s;
}
.reponses{
    text-align: center;
}
.reponses button{
    border: 1px solid var(--color-primary);
    margin: 10px;
    background-color: var(--color-primary);
    color:var(--color-secondary);
    padding: 5px 8px;
}

.reponses button:hover{
    background-color: var(--color-secondary);;
    color:var(--color-primary);
    transition: all 0.5s;
}
